Имя переменной окружения=Значение - Коментарий (В .env файле коментарии не нужны)
POSTGRES_DB=volunteers - Имя БД
POSTGRES_USER=volunteers_user - Пользователь БД
POSTGRES_PASSWORD=user_password - Пароль пользователя БД

DB_HOST=db - имя хоста, на котором расположена БД (для локального запуска localhost)
DB_PORT=5432 - порт на котором postgre принимает соединения с БД

SECRET_KEY='django-insecure' - секретный ключ для Django
DEBUG=False - флаг, активирующий/деактивирующий дебаг-режим
ALLOWED_HOSTS=80.87.109.180,127.0.0.1,localhost,better-together.acceleratorpracticum.ru

PYTHON_VERSION_BUILD=python:3.10.6-alpine3.16 # версия Python при билде образа

GMAIL_API_CLIENT_ID='' # Авторизационные данные для работы django-gmail-api-backend
GMAIL_API_CLIENT_SECRET='' # Авторизационные данные для работы django-gmail-api-backend
GMAIL_API_REFRESH_TOKEN='' # Авторизационные данные для работы django-gmail-api-backend
